
<a [routerLink]="['/cur2-altium']" class="no-st">
    <div class="card mat-card">
        
        <div class="card-title curso">
           <div class="row">
              <div class="col-10"><h2 style="margin-left: 5px;">Altium</h2></div>
              <div class="col-2 btn-edit">
               <!--
                <a href="#" class="btn-right" style="display: flex; justify-content:flex-end;"><fa-icon [icon]="pen"></fa-icon> </a>
               -->  
              </div>
              
           </div>
       
        </div>
     
     <div class="card-body"><p>
         (2021)<br>
         Curso de Conseptos básicos de Altium Design. Mediante la plataforma Udemy.
         <a [routerLink]="['/cur2-altium']">mas...</a></p>
     </div>
    
    </div>
    </a>