<a href="#" class="no-st">
    <div class="card mat-card">
        
        <div class="card-title estudio">
           <div class="row">
              <div class="col-10"><h2 style="margin-left: 5px;">UTN-frc</h2></div>
              <div class="col-2 btn-edit">
                 <a href="#" class="btn-right" style="display: flex; justify-content:flex-end;"><fa-icon [icon]="pen"></fa-icon> </a>
              </div>
              
           </div>
       
        </div>
     
     <div class="card-body"><p>
         (2015- 2016)<br>
          Trabaje como ayudante de farmacia en Capilla del Monte por medio del plan PPP 
         <a href="#">mas...</a></p>
     </div>
    
    </div>
    </a>