
<div class="container-fluid">
  <div class="conteiner bg-dark">
    <div class="row bg-dark">
      <div class="col-2">
        <br>
         <img class="rounded-circle img-thumbnail" src="assets/perfil/gino.png">
      </div>
      <div class="col-8">
        
        <br>
        <h1 class="display-4" id="cabecera">{{datos.nombre}} {{datos.apellido}}</h1>
        <hr class="linegrey">
        <h3 class="text-light">Sobre mí</h3>
        <p id="cabecera">
          Estudio Ingenieria Electrónica en la UTN de Córdoba, actualmente curso materias de 3er año. <br>
          Siempre me interesó la ciencia y la tecnologia, armar cosas con mis manos y programar son un pasatiempo <br>
          muy apreciado para mí. <a href="#">más...</a>
          
        </p>

      </div>
    </div>


  </div>


</div>


<nav class="navbar navbar-expand bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="#"></a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#trabajo">Trabajos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#estudios">Estudios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#cursos">Cursos</a>
    </li>
  </ul>
</nav>
