<app-navbar></app-navbar>

<div class="conteiner m-5 detalleT">
    <div class="row " >
        <h1 class="title m-2">
            <a class="cleanAnchor" href="https://www.sveltia.com/es.html">Sveltia</a>
        </h1>
        <p class="m-4">Es una fabrica de medicina estetica de alcance internacional en el que se desarrollan equipos de alta complejidad electronica</p>
        <br>
        <h3 >Detalles</h3>
        <p class="m-4 ">A principios de 2022 comienzo a trabajar mediante una pasantia en esta empresa. <br>
            Trabaje 4 horas de lunes a viernes en modalidad mixta asistiendo de forma virtual, presencial en coworking y presencial en fabrica. <br>
            <strong> Actualmente trabajo 6 horas en fabrica.</strong> 
        </p>
        <br>
        <div class="mat-card m-4">
            <div class="card-title">
                <h3>Aptitudes</h3>
                <div class="conteiner">
                    <div class="row">
                        <div class="col-4-md">
                            <div class="mat-card fontL">
                                <a href="https://www.qt.io" class="cleanAnchor"> Capacitacion en QT </a> 
                            </div>
                            <div class="mat-card fontL">
                                <a href="https://www.raspberrypi.com" class="cleanAnchor"> Raspberry pi </a> y <a href="https://es.wikipedia.org/wiki/Compilador_cruzado" class="cleanAnchor">Crosscompilado </a> 
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
