<div class="conteiner trabajoCon">
    <div class="row">
      <div class="col-6">
         <app-header></app-header>
      </div>

      <div class="col-6">
        <app-header2></app-header2>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <app-header3></app-header3>
      </div>
      <div class="col-6">
        
      </div>
    </div>
  </div>



<br>


<div class="conteiner estudioCon">
  <div class="row">
    <div class="col-6">
       <app-est1></app-est1>
    </div>

    <div class="col-6">
      <app-header2></app-header2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-header3></app-header3>
    </div>
    <div class="col-6">
      
    </div>
  </div>
</div>
