<a [routerLink]="['/sveltia']" class="no-st">
    <div class="card mat-card">
        
        <div class="card-title trabajo">
           <div class="row">
              <div class="col-10"><h2 style="margin-left: 5px;">Ciii</h2></div>
              <div class="col-2 btn-edit">
                <!--
                    <a href="#" class="btn-right" style="display: flex; justify-content:flex-end;"><fa-icon [icon]="pen"></fa-icon> </a> 
                --> 
              </div>
              
           </div>
       
        </div>
     
     <div class="card-body"><p>
         (2020- 2022)<br>
          Trabaje mediante una beca en el Centro de Investigacion en Informatica para la Ingenieria.
         <a [routerLink]="['/sveltia']">mas...</a></p>
     </div>
    
    </div>
    </a>
