<app-navbar></app-navbar>

<div class="conteiner m-5 detalleT">
    <div class="row " >
        <h1 class="title m-2">
            <a class="cleanAnchor" href={{datos.altium}}>Altium</a>
        </h1>
        <p class="m-4 fontL" >Curso de diseño electronico mediante el programa Altium Designer. </p>    
        <br>
        <h3 >Detalles</h3>
        <p class="m-4 fontL">Dentro de la empresa <a [routerLink]="['/sveltia']" class="cleanAnchor">Sveltia</a> realicé el curso de Altium con duración de un total de 7.5 horas.<br> 
            Mediante la plataforma de cursos online <a href={{datos.udemy}} class="cleanAnchor">Udemy</a> y con la asistencia de uno de los Ingenieros Electronicos de la empresa, me forme en los distintos aspectos del diseño de pcbs<br>
        </p>
        <br>
        <div class="mat-card m-4">
            <div class="card-title">
                <h3>Aptitudes Aprendidas</h3>
                <div class="conteiner">
                    <div class="row">
                        <div class="col-4-md">
                           
                            <div class="mat-card fontL">
                                Diseño de pcb
                            </div>
                          

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
<app-footer></app-footer>