/* You can add global styles to this file, and also import other style files */

#cabecera {
    color: azure;
}

h1#cabecera:hover{
   color: aqua;
}
p#cabecera{
    font-size: large;
}

.navbar:hover {
    
    margin-top: 1px;

    
}

.linegrey {
    border-color: antiquewhite;
}

.card {
    
    margin: 10px;
}

.text {
    margin: 10px;   
}

.img-thumbnail{
    width: 60%
}
.img-thumbnail:hover{
    width: 100%
}

.trabajo{
    background-color: aquamarine;
}

.trabajoCon:hover{
    background-color: rgb(213, 240, 231);
    
}

.no-st{
    text-decoration: none;
    color:black
}
.no-st:hover{
    text-decoration: none;
    color:black
}

.estudioCon:hover{
    background-color:antiquewhite;
}
.estudio{
    background-color:rgb(235, 185, 118);
}

.cursoCon:hover{
    background-color:rgb(176, 245, 146);
}
.curso{
    background-color:rgb(89, 232, 13);
    
}

/* Detalle de trabajos*/

.detalleT{
    background-color: aquamarine;
}

/*saco estilos del link*/
.cleanAnchor {
    text-decoration: none;
  }

  /* Eliminar el resaltado azul de los enlaces */
  .cleanAnchor:link, .cleanAnchor:visited, .cleanAnchor:active {
    color: rgb(168, 81, 44);

  }
  .cleanAnchor:hover{
    font-size: larger;
    color: brown;
  }


  .fontL{
    font-size: larger;
  }


  /* estilos para la barra */

  nav .nav-link.barra:hover{
    color: rgb(242, 183, 20);
    
  }


  .foto {
    background-image: url('/src/assets/a.png');
    background-size: cover;
  }